.SideDrawer {
  position: fixed;
  width: 300px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transfor 0.3s ease-out;
}

.Logo {
  height: 10%;
  padding-bottom: 15px;
}

.Logo img {
  height: 100%;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}
